[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Dušan Brankov
	email = dusanbrankov@proton.me
[core]
	editor = vim --nofork
	autocrlf = input
	excludesFile = ~/.config/git/ignore
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[color]
	ui = true
[init]
	defaultBranch = main
[status]
	showUntrackedFiles = all
